*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("images/back_2.jpg");
    text-align: center;
}

.firstSideBox #logo {
    margin-right: 30px;
}
.firstSideBox #SignupP {
    font-size: x-small;
}

#firstSideBox {
    background-color: rgb(237, 236, 236);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 800px;
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: grey;
    border-radius: 25px;
    min-width: 450px;
    max-width: 1000px;
}

.pic {    
    padding: 2px;
    padding-right: 20px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-right: 60%;

}

#inpName {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#inpDate {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#inpDescr {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#inpDescr2 {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#btnLogin {
        background-color: rgb(4, 43, 94);
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        border-radius: 5px;
        width: 70%;
}
.btnLogin:hover {
    opacity: 1
}

.btnLogin:hover {
    background-color: rgb(4, 43, 135);
    opacity: 1
}

#btnSettings {
    background-color: rgb(4, 43, 94);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    width: 10%;
    float: right;
}
.btnSettings:hover {
opacity: 1
}

#btnCreate {
    background-color: rgb(14, 39, 71);
    border: none;
    color: rgb(245, 245, 245);
    padding: 11px;
    text-align: center;
    font-size: 12px;
    margin-right: 12px;
    padding-bottom: 15px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0px;
    width: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}


.btnLogOut {
    background-color: rgb(53, 80, 116);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    margin: 25px -10px;
    margin-right: 30px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    width: 8%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    
}
.btnLogOut:hover {
    background-color: rgb(85, 111, 171);
    opacity: 1
}

#btnBack {
    background-color: rgb(4, 43, 94);
    border: none;
    color: rgb(251, 211, 201);
    padding: 10px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    width: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    float: right;
}
.btnBack:hover {
    background-color: rgb(4, 43, 135);
    opacity: 1
}

#container {
    background-color: rgb(255, 255, 255);
    border: 1px black;
    padding: 20px;
    margin: 40px;
    border-radius: 10px;
 }

#header {
    background-color: white;
    border-radius: 12px;
    min-width: 300px;
    
}

.scrollable {
    min-height: 200px;
    max-height: 600px;
    overflow-y: scroll;
}