*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background: url("images/back_2.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

/*----------------HEADER-------------*/

.header {
    background-color: white;
    border-radius: 12px; 
    height: auto;
        display: grid;
        grid-template-columns: 80% 10% 10%;
        grid-template-rows: 3;
        grid-template-areas: "logo button1 button2" 
}

.pic {    
    width: 20%;
    height: auto;
    min-height: 85%;
    margin-left: 4%;
    margin-bottom: 1%;
        grid-area: logo;
}

#btnLogOut {
    background-color: rgb(53, 80, 116);
    border: none;
    color: white;
    font-size: 1vw;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    width: 75%;
    height: 45%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15%;    
        grid-area: button2;     
}
#btnLogOut:hover {
    background-color: rgb(84, 111, 171);
    opacity: 1
}

@media only screen and (max-width: 600px) {
    #btnLogOut {
        width: 110%;
        margin-left: -30%;
        margin-top: 16%;
        font-size: 1.5vw;
    }
}

#btnBack {
    background-color: rgb(53, 80, 116);
    border: none;
    color: white;
    font-size: 1vw;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    width: 75%;
    min-width: 75%;
    height: 45%;
    min-height: 45%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15%;
        grid-area: button1;
}
#btnBack:hover {
    background-color: rgb(84, 111, 171);
    opacity: 1
}

@media only screen and (max-width: 600px) {
    #btnBack {
    width: 110%;
    margin-left: -50%;
    margin-top: 16%;
    font-size: 1.5vw;
    }
}




/*-------------------Main BOX--------------------*/

.settingsBox {
    background-color: rgb(252, 252, 252);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 500px;
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: grey;
    border-radius: 25px;
    min-width: 300px;
    max-width: 600px;
}
@media only screen and (max-width: 600px) {
    #settingsBox {
        margin-top: 500px;
    
    }
}


#updateUsername {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

#updateUserPasswrd {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

#btnUpdUser {
        background-color: rgb(4, 43, 94);
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        border-radius: 5px;
        width: 70%;
}
#btnUpdUser:hover {
    background-color: rgb(84, 111, 171);
    opacity: 1
}

#btnDeleteUser {
    background-color: rgb(4, 43, 94);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    width: 70%;
}
#btnDeleteUser:hover {
    background-color: rgb(158, 79, 65);
    opacity: 1
}


